.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #28547a;
  height: 200px;
  padding: 20px;
  color: #222;
  position: relative;
}

.App-title {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  /* position: absolute; */
  display: inline-block;
  bottom: 50%;
  right: 32%;
}

cite {
  font-weight: bold;
}
table {
  align-content: center;
  margin: auto;
}
td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}

ul {
  list-style: none;
}
/* nav {
	list-style: none;

	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 40%;
} */

.navlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #28547a;
  text-decoration: none !important;
  margin-right: 20px;
}

.button {
  padding: 0.4rem 0.8rem;
  background-color: #28547a;
  border-radius: 3px;
  color: white;
  text-decoration: none !important;
}

.button:hover {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #28547a;
  text-decoration: none !important;
}

.navlink:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

input,
select {
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #28547a;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: 0 auto 20px;
  height: auto;
}

.cancel-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.add-button {
  position: absolute;
  bottom: 20px;
}
span {
  font-weight: bold;
}

img {
  text-align: center;
  width: 325px;
  height: 250px;
}

.col-sm-6 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.fs-2 {
  color: white;
}

.render-chat {
  padding: 10px;
  height: 400px;
  position: relative;
  flex-grow: 1; /* make the chat log take up remaining space */
}

.send-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  padding: 10px;
  margin-bottom: 20px;
}
.send-box input {
  border: none;
  font-size: 16px;
  padding: 15px;
  background-color: rgb(243, 242, 239);
  flex-grow: 1; /* make the input take up remaining space */
  margin-right: 10px; /* add some space between the input and the button */
  border-radius: 24px;
  width: 80%
}

.send-box input:focus {
  outline: none;
}
.send-box button {
  padding: 10px 20px;
  background-color: #0073b1;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}
.send-box button:hover {
  background-color: #006097;
}

.chat-log {
  /* flex: 1; */
  overflow-y: scroll;
  text-align: left;
  max-height: 80%;
}

.chat-log h3 {
  color: #2f72da;
  font-weight: bold;
  font-size: 18px;
}

.chat-log span {
  color: black;
  font-weight: normal;
}

.room-chat {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.chat-message {
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 0;
  margin-top: 0;
}

.chat-message:hover {
  background-color: rgb(243, 242, 239);
}

.form {
  max-width: 350px;
  border-radius: 5px;
  padding: 5px;
  /* box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75); */
  bottom: 0;
  margin-top: 300px;
}

.messages-body {
  flex: 0.8;
  width: 75%; /* set the width of the messages body */
  min-height: 100%;  /* make the messages body take the full height */
  display: flex; /* create a nested flex container */
  flex-direction: column; /* set the direction of the nested flex container*/
}

.messages {
  width: 100%;
  height: 79vh;
  display: flex;
  align-items: center;
}

.messages-bar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.messages-header {
  margin: 30px 0 20px 0;
}

.messages-users > * {
  margin-bottom: 10px;
  color: #607EAA;
  font-size: 22px;
  margin-top: 30px;
}

.messages-container {
  display: flex;  /* create a flex container */
  flex-wrap: wrap;  /* allow the items to wrap */
  height: 100%; /* make the container take the full height */
  width: 100%;
}
.messages-list {
  margin-top: 40px;
}